@font-face {
  font-family: 'Eurostile';
  font-style: normal;
  font-weight: 400;
  src:
    local('Eurostile'),
    url('https://fonts.cdnfonts.com/s/89030/eurostile.woff') format('woff');
}

:global(html, body, #app) {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
