@font-face {
  font-family: 'Eurostile';
  font-style: normal;
  font-weight: 400;
  src:
    local('Eurostile'),
    url('./eurostile.woff') format('woff');
}

:global(html, body, #app) {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
